<% provide(:title, "Launch") %>
<h2> Welcome to Player Scraper <h2>

<table id="scraper">
	<tbody id="scraper_attr"><%= render 'scraper', scraper:@scraper %>
		<%= form_tag(scraper_start_path, method: :post, remote: :true) do %>
			<tr>
				<td><%= label_tag "Full Scrape" %></td>
				<td><%= check_box_tag :full_scrape, 1, checked = true %></td>
			</tr>
			<tr></tr>
			<tr>
				<td></td>
				<td><%= submit_tag "Activate Scraper", class: "form_submit" %></td>
			</tr>
		<% end %>
	</tbody>
</table>