<% provide(:title, "Launch") %>
<h2> Welcome to Player Scraper <h2>

<table id="scraper">
	<body>
		<% @scraper.attributes.select{|k,v| k != 'id'}.each do |k,v| %>
			<tr>
				<td><%= label_tag k, k.titleize %></td>
				<td><%= v %></td>
			</tr>
		<% end %>
		<%= form_tag(scraper_start_path, method: :post, remote: :true) do %>
			<tr>
				<td><%= label_tag "Full Scrape" %></td>
				<td><%= check_box_tag :full_scrape, 1, checked = true %></td>
			</tr>
			<tr></tr>
			<tr>
				<td><%= submit_tag "Activate Scraper" %></td>
			</tr>
		<% end %>
	</body>
</table>
